---
import MainLayout from '../layouts/MainLayout.astro';
import AlbumCard from '../components/AlbumCard.svelte';
import { getLibrary } from '../lib/r2.ts';

const cfEnv = (Astro.locals as any).runtime?.env;

const rawSongs = await getLibrary(cfEnv);

const albumsObj: Record<string, any[]> = {};

rawSongs.forEach(song => {
  const parts = song.path.split('/');
  const albumName = parts.length > 1 ? parts[0] : 'Singles';
  
  if (!albumsObj[albumName]) {
    albumsObj[albumName] = [];
  }
  albumsObj[albumName].push(song);
});

const albums = Object.keys(albumsObj).map(name => ({
  name,
  firstSongPath: albumsObj[name][0].path,
  allPaths: albumsObj[name].map(song => song.path) 
}));
---

<MainLayout>
  <main class="max-w-7xl mx-auto p-6 md:p-10">
    <h1 class="text-3xl md:text-5xl font-black mb-8 text-white tracking-tight">
      Listen Again
    </h1>

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-x-6 gap-y-10">
      {albums.map((album) => (
        <AlbumCard 
          client:load 
          albumName={album.name} 
          firstSongPath={album.firstSongPath} 
          rawPaths={album.allPaths} 
        />
      ))}
    </div>
  </main>
</MainLayout>
