---
import Player from '../components/Player.svelte';
---

<html lang="en" class="bg-black text-white">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>TugsTugs</title>
  </head>
  <body class="pb-32"> <main class="max-w-4xl mx-auto p-8">
      <slot /> </main>
    
    <Player client:load /> 
  </body>
</html>
